{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <title>Captura de foto</title>
</head>
  <h2>Envie a Foto seguindo as instruções</h2>
  <body>
    <h1>Captura de Foto</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="text" name="nome" placeholder="Digite o nome do arquivo">
      <input type="file" name="imagem">
        <p></p>
      <input class="btn btn-primary" type="submit" value="Capturar">
    </form>
  </body>
{% endblock %}
